[submodule "source/encoder_video_h264_libx264"]
	path = source/encoder_video_h264_libx264
	url = git@github.com:Josh5/unmanic.plugin.encoder_video_h264_libx264.git
[submodule "source/encoder_video_hevc_nvenc"]
	path = source/encoder_video_hevc_nvenc
	url = git@github.com:Josh5/unmanic.plugin.encoder_video_hevc_nvenc.git
[submodule "source/encoder_video_hevc_libx265"]
	path = source/encoder_video_hevc_libx265
	url = git@github.com:Josh5/unmanic.plugin.encoder_video_hevc_libx265.git
[submodule "source/encoder_video_h264_nvenc"]
	path = source/encoder_video_h264_nvenc
	url = git@github.com:Josh5/unmanic.plugin.encoder_video_h264_nvenc.git
